## Author  
**Kanishka Sharma**

* ðŸ”— LinkedIn - www.linkedin.com/in/kanishka2985


* ðŸ¤– Github - https://github.com/kanishka2985

# Film Recommendation System

In [1]:
# Importing all the necesaary Librarires
import pandas as pd
import numpy as np
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [4]:
#Loading of dataset
path='Copy of Copy of movies.csv'
data=pd.read_csv(path)

In [5]:
# View of dataset
data.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [6]:
# Count of Rows & Columns
data.shape

(4803, 24)

In [7]:
# Datset Information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 4803 non-null   int64
 1   budget                4803 non-null   int64
 2   genres                4775 non-null   object
 3   homepage              1712 non-null   object
 4   id                    4803 non-null   int64
 5   keywords              4391 non-null   object
 6   original_language     4803 non-null   object
 7   original_title        4803 non-null   object
 8   overview              4800 non-null   object
 9   popularity            4803 non-null   float64
 10  production_companies  4803 non-null   object
 11  production_countries  4803 non-null   object
 12  release_date          4802 non-null   object
 13  revenue               4803 non-null   int64
 14  runtime               4801 non-null   float64
 15  spoken_languages      4803 non-null   object
 16  status                4803 non-null   object
 17  tagline               3959 non-null   object
 18  title                 4803 non-null   object
 19  vote_average          4803 non-null   float64
 20  vote_count            4803 non-null   int64
 21  cast                  4760 non-null   object
 22  crew                  4803 non-null   object
 23  director              4773 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

In [8]:
# Selecting the needed features
features = ['genres','keywords','tagline','cast','director','overview']

In [9]:
#dealing with null values
for feature in features:
  data[feature] = data[feature].fillna('')

In [10]:
# Combining all new features in 'combine' column
data['combine'] = data['genres']+' '+data['keywords']+' '+data['tagline']+' '+data['cast']+' '+data['director']+ ' '+data['overview']

In [11]:
data['combine'].head()

0    Action Adventure Fantasy Science Fiction cultu...
1    Adventure Fantasy Action ocean drug abuse exot...
2    Action Adventure Crime spy based on novel secr...
3    Action Crime Drama Thriller dc comics crime fi...
4    Action Adventure Science Fiction based on nove...
Name: combine, dtype: object

In [12]:
# Convert the 'combine' text column into a TFâ€‘IDF sparse matrix
vector = TfidfVectorizer()
f_vector = vector.fit_transform(data['combine'])
print(f_vector)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 307355 stored elements and shape (4803, 30592)>
  Coords	Values
  (0, 561)	0.05971816344971169
  (0, 703)	0.06846420517510078
  (0, 9754)	0.08513696797398294
  (0, 23977)	0.07941905576010944
  (0, 10023)	0.07960231361105431
  (0, 6601)	0.1498786462809525
  (0, 5279)	0.1549075340655008
  (0, 10796)	0.11095111375730655
  (0, 25413)	0.24369151759694266
  (0, 29469)	0.08637114089261566
  (0, 5592)	0.17322386697661618
  (0, 25232)	0.1336739112380023
  (0, 9065)	0.14505772980982928
  (0, 27118)	0.08328687324810813
  (0, 30121)	0.07272849549697494
  (0, 19410)	0.0318696249813729
  (0, 20039)	0.37747447361884223
  (0, 23619)	0.11047375838269538
  (0, 30145)	0.18243919685121024
  (0, 30543)	0.15064979633862852
  (0, 23578)	0.16802034155542864
  (0, 24802)	0.158925784923944
  (0, 29614)	0.15064979633862852
  (0, 25868)	0.11590870590502833
  (0, 15569)	0.171366691592621
  :	:
  (4802, 9588)	0.10415492266309316
  (4802, 21386)	0.08975511036766048
  (4802, 9166)	0.07829183421073847
  (4802, 24102)	0.08207980733784753
  (4802, 6136)	0.10774075928383217
  (4802, 14324)	0.09933234978871472
  (4802, 3875)	0.10774075928383217
  (4802, 8258)	0.284128207029646
  (4802, 2501)	0.29133697059656616
  (4802, 23076)	0.08379553030608407
  (4802, 10089)	0.10415492266309316
  (4802, 10738)	0.10877787010859256
  (4802, 11677)	0.10415492266309316
  (4802, 1833)	0.09660213336802434
  (4802, 7044)	0.10877787010859256
  (4802, 23793)	0.10262332234993723
  (4802, 1819)	0.116986654174831
  (4802, 7964)	0.07432488153640866
  (4802, 8403)	0.11236370672933159
  (4802, 250)	0.12102518665736202
  (4802, 6542)	0.20524664469987447
  (4802, 9910)	0.11236370672933159
  (4802, 11524)	0.11236370672933159
  (4802, 4278)	0.11887938519964002
  (4802, 12576)	0.5646265481250229

In [13]:
# Compute pairwise cosine similarity between all TFâ€‘IDF vectors(to find the similarity between  features)
similarity = cosine_similarity(f_vector)

In [14]:
print(similarity)

[[1.         0.05083168 0.0332947  ... 0.02749812 0.0304889  0.0072518 ]
 [0.05083168 1.         0.04356836 ... 0.05077045 0.03100979 0.01521198]
 [0.0332947  0.04356836 1.         ... 0.02646984 0.04751623 0.01372603]
 ...
 [0.02749812 0.05077045 0.02646984 ... 1.         0.03481447 0.03546821]
 [0.0304889  0.03100979 0.04751623 ... 0.03481447 1.         0.03098945]
 [0.0072518  0.01521198 0.01372603 ... 0.03546821 0.03098945 1.        ]]

In [15]:
similarity.shape

(4803, 4803)

In [16]:
# Take movie name input from the user
movie_name = input('Enter your favourite movie name :')

# Convert all movie titles from the dataset into a list
list_of_all_title = data['title'].tolist()

# Find close matches of the entered movie name from the list of titles
find_close_match = difflib.get_close_matches(movie_name, list_of_all_title)

# Pick the best matching movie title
close_match = find_close_match[0]

# Get the index of the matched movie in the dataset
index_of_movie = data[data.title == close_match]['index'].values[0]

# Get similarity scores (cosine similarity) for this movie with all other movies
similar_score = list(enumerate(similarity[index_of_movie]))

# Sort movies based on similarity scores in descending order
similar_score_sort = sorted(similar_score, key = lambda x:x[1], reverse = True)

# Print top 30 most similar movies
print('Movies suggested for you : \n')
for i in range(30):
    index = similar_score_sort[i][0]
    print(data['title'][index])

Movies suggested for you :

Avatar
Lifeforce
Moonraker
Alien
Star Trek Beyond
Gattaca
Aliens
Guardians of the Galaxy
Gravity
Lockout
Apollo 18
Lost in Space
Cargo
Lara Croft Tomb Raider: The Cradle of Life
Treasure Planet
Men in Black
Star Trek Into Darkness
Zathura: A Space Adventure
The Book of Life
Sunshine
Men in Black II
Space Chimps
The Helix... Loaded
Starship Troopers
Deep Impact
Tears of the Sun
The Right Stuff
Sphere
Terminator Salvation
Mad Max Beyond Thunderdome

In [19]:
import joblib

# Save the Film Recommendation Model
joblib.dump(similarity, 'film_recommendation_model.pkl')

['film_recommendation_model.pkl']